{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'detail.css' %}">
    <!--230705 1110 추가-->

    <title>페이지 팔레트</title>
<!--    <link rel="stylesheet" href="./index.css">-->
</head>
<body>
{% include "navbar.html" %}
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
{% block content %}
{% endblock %}


<!-- 기본 템플릿 안에 삽입될 내용 End -->
<!-- jQuery JS -->
{% block script %}
{% endblock %}
<!-- 자바스크립트 End -->
</body>
</html>