{% load static %}

<header>
    <div class="container">
        <div class="left">
            <a href="{% url 'main:main' %}"><img src="{% static 'images/icons/long_logo.png' %}" alt="logo" style="width: 200px; height: 40px"></a>
        </div>

        <nav>
            <ul>
                {% if request.session.user_id %}
                <li>
                    <a href="{% url 'common:subscribe' %}"><button>구독하기</button></a>
                </li>
                <li>
                    <a href="{% url 'common:logout' %}"><button>로그아웃</button></a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'common:login' %}"><button>구독하기</button></a>
                </li>
                <li>
                    <a href="{% url 'common:login' %}"><button>로그인</button></a> / <a href="{% url 'common:signup' %}"><button>회원가입</button></a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>
