{% extends 'detail.html' %}
{% block content %}
<main>
      <div class="contents-container">

          <div class="text-container">
              <h3 class="gothic" style="line-height: 30px">이제 더 이상 무슨 책 읽을지 고민하지 마세요 !<br>매주 금요일마다 나만을 위한 책 추천 리스트를 받아보세요.</h3>
          </div>

          <div class="bookmark-container">
              <a href="{% url 'main:detail_news' %}" class="detail_news_url"><button class="coding">뉴스</button></a>
          </div>

          <div class="image-container">
              <img src="../../static/images/books_detail2.png" alt="" style="width: 100%; height: 100%;">
          </div>

      </div>
</main>
{% endblock %}
