{% extends 'detail.html' %}
{% block content %}
<main>
      <div class="contents-container">
          <div class="text-container">
              <h2>이번 주말에는 독서 어때요?<br>독서의 필요성은 느끼고 있지만, 막상 무슨 책부터 읽어야할지 막막했던 적 있으신가요?</h2>
          </div>

          <div class="bookmark-container">
              <a href="{% url 'main:detail_news' %}" class="detail_news_url"><button>뉴스</button></a>
          </div>

          <div class="image-container">
              <img src="../../static/images/books_detail.png" alt="">
          </div>
      </div>
</main>
{% endblock %}
