{% extends 'base.html' %}
{% block content %}
    <main id="main">
        <div class="container">
            <h2>Lorem ipsum dolor sit amit</h2>

            <p>Amit sit dolor ipsum lorem</p>
            <!-- <a href="www.google.com"><img src="./images/buttons/red.png" alt="구독하기"></a>
            <a href="www.google.com"><img src="./images/buttons/blue.png" alt="구독하기"></a> -->

            <a href="{% url 'main:detail_news' %}"><button>뉴스</button></a>
            <a href="{% url 'main:detail_books' %}"><button>도서 큐레이션</button></a>
            <!-- <button class="mouse"><img src="./images/buttons/blue.png" alt=""></button> -->
        </div>
    </main>
{% endblock %}




