{% extends 'base.html' %}
{% load static %}

{% block content %}
<main id="main">
    <div class="login-container">
        <ul>
            <li><h3>로그인</h3></li>
            <div class="login-form">
                <form method="post" class="post-form" action="{% url 'common:login' %}">
                    {% csrf_token %}
                    {% if error_message %}
                        <p class="error-message">{{ error_message }}</p>
                    {% endif %}
                    <!--230705 1059 수정-->
                    <li class="id">
                        <label for="email">
                            <input type="text" name="email" id="email" value="{{ form.email.value|default_if_none:'' }}" placeholder="example@pagepalette.com" style="font-size: 1rem;
                            width: 400px;
                            height: 40px;
                            border-radius: 10px;
                            flex-shrink: 0;

                            border: 1.5px solid black;
                            background: rgba(255, 251, 251, 0.25);">
                        </label>
                    </li>
                    <!--230705 1059 수정-->
                    <li class="ps">
                        <label for="pw"></label>
                        <input type="password" name="pw" id="pw"placeholder="비밀번호 입력" style="font-size: 1rem;
                        width: 400px;
                        height: 40px;
                        border-radius: 10px;
                        flex-shrink: 0;
                        border: 1.5px solid black;
                        background: rgba(255, 251, 251, 0.232);">
                    </li>
                    <li>
                        <button type="submit" value="로그인" class="submit-button">로그인
                        </button>
                    </li>
                </form>
            </div>
        </ul>
    </div>
</main>
{% endblock %}