{% extends 'base.html' %}
{% block content %}

<main id="main">
    <div class="signup-container">
        <h4>회원가입</h4>
        <form method="post">
            {% csrf_token %}
            <ul class="typing-list" style="height:300px">
                <li>
                    <label for="email">
                        이메일:
                        <input type="text" name="email" id="email" placeholder="example@pagepalette.com" class="input-form">
                    </label>
                </li>
                {% for error in form.email.errors %}
                    <li class="typing-list">
                        <p class="error-message">이미 존재하는 이메일입니다.</p>
                    </li>
                {% endfor %}
                <li>
                    <label for="pw">
                        비밀번호:
                        <input type="password" name="pw" id="pw" placeholder="8자리 이상 비밀번호 입력" class="input-form">
                    </label>
                    {% if form.pw.errors %}
                        {% for error in form.pw.errors %}
                            <p class="error-message">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </li>
                <!--230705 1118 시작-->
                <div class="dropdown-list">
                    <label for="gender" style="padding:0 5px 0 5px;">성별: </label><br>
                    <select name="gender" id="gender" class="input-form" style="width: 100px;">
                        <option value="" selected>선택</option>
                        {% for choice in form.gender %}
                            {{ choice }}
                        {% endfor %}
                    </select>
                    <label for="age" style="padding:0 5px 0 5px;">연령대: </label><br>
                    <select name="age" id="age" class="input-form" style="width: 100px;">
                        <option value="" selected>선택</option>
                        {% for choice in form.age %}
                            {{ choice }}
                        {% endfor %}
                    </select>
                </div>

                <li>
                    <button type="submit" value="가입하기" class="submit-button">가입하기</button>
                </li>
                <!-- 230705 1127 마침 -->
            </ul>
        </form>
    </div>
</main>
{% endblock %}